<nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="navbar-brand" src="./assets/images/APLogo.png" alt="Argentina Programa Logo" width="80" height="24" class="d-inline-block align-text-top" >
      YoProgramo
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav flex-row justify-content-around">
        <li class="nav-item"><a class="nav-link text-light" href="https://www.linkedin.com/in/lucas-tecera/" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="https://github.com/FsNeru" target="_blank"><i class="bi bi-github"></i> Github</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="#"><i class="bi bi-box-arrow-in-right"></i> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
