<div *ngIf="usuario" id="test">
  <h1>{{usuario.nombreUsuario}}</h1>
</div>
<!--<img id="banner" class="d-block" src="./assets/images/banner.jpg" alt="Lucas Tecera FullStack Web Developer"/>



<div class="card flex-column" id="infoCard">
  <img src="./assets/images/profilePic.jpg" class="rounded-circle d-block" alt="Foto de Perfil" id="profilePic"/>
  <div class="col-md-10" >
    <div class="card-body" id="cardBody" *ngIf="usuario">
        <h5 class="card-title">{{usuario.nombreUsuario}}</h5>
        <p class="card-text" id="profecion">{{usuario.profesionUsuario}}</p>
        <p class="card-text" id="ubicacion">{{usuario.domicilioUsuario}</p>
    </div>
  </div>
</div>
<div class="card my-2" id="acercaDe">
  <div class="card-body">
    <h3 class="card-title">Acerca de mi</h3>
    <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod"</p>
  </div>
</div>-->

