#banner {
  padding: 0;
  margin: 0  auto;
  width: 100%;
  max-height: 100vh;
}

#profilePic{
  display:block;
  height: auto;
  max-width: 120px;
  margin: 10px;
}
#infoContainer{
  padding: 0;
  margin: 20px 0;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
#infoCard{
  width: 40%;
  min-width: 190px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  padding: 0;
  margin: 5px 0;

}
#acercaDe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  width: 60%;
}
#botonEdit{
  position: relative;
  left: 85px;
}
i {
  font-size: 2rem;
}

/*--------------------------------------------Media Quearys------------------------------------------------------------*/
@media (max-width: 740px) {

  #infoCard, #acercaDe {
    width: 100%;
  }

}

