
.textoTitulo {
  color: #0d3b66;

}
.contenedorPrincipal{
  margin: 20px 5px;
  padding: 20px 0;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #f7ede2;
  box-shadow: 5px 10px #8d99ae;
}
.contenedorTitulo {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}
.contenedorTitulo h1, .contenedorTitulo h3{
  margin: 10px 5px;
}

.contenedorTarjeta{
  margin: 20px;
  border: 2px solid #e07a5f;
  border-radius: 10px;
  box-shadow: 5px 5px #8d99ae;
}
.contenedorTitulo button{
  margin: 0px 10px;
}
a{
  margin: 5px;
}
.text{
  padding: 0;
  margin: 5px 0;
}
#descripcionTarjeta{
  margin: 5px 20px;
}
.addButton{
  background-color: #355070;
  border: 2px solid #006d77;
}

