<div class="contenedorPrincipal" *ngIf="educaciones">
  <div class="contenedorTitulo">
    <h1>Educacion</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEducacionModal">Agregar nueva</button>
  </div>

  <div  class="contenedorTarjeta" *ngFor="let educacion of educaciones">
    <div class="contenedorTitulo">
      <h3 class="">{{educacion.tituloEstudio}}</h3>
      <div class="contenedorBotones">
      <a
          (click)="onClickUpdate(educacion)"
          href="#updateEducacionModal"
          class="btn btn-success tooltips"
          data-placement="top"
          data-bs-toggle="modal"
          data-original-title="Edit">
          <i class="bi bi-pencil-square"></i>
      </a>
      <a
          (click)="onClickDelete(educacion)"
          href="#deleteEducacionModal"
          class="btn btn-danger tooltips"
          data-placement="top"
          data-bs-toggle="modal"
          data-original-title="Delete">
          <i class="bi bi-trash-fill"></i>
      </a>
      </div>
    </div>
    <div id="descripcionTarjeta">
      <p class="text">{{educacion.institucionEstudio}}</p>
      <p class="text">Desde {{educacion.fechaInicio}} hasta {{educacion.fechaFin}}</p>
    </div>
  </div>
</div>

<!------------------------------------------------ Modal Add Educacion ---------------------------------------------->
<div class="modal fade" id="addEducacionModal" tabindex="-1" aria-labelledby="addEducacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEducacionModalLabel">Añadir Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
          <div class="mb-3">
            <label for="tituloEstudio" class="col-form-label">Titulo:</label>
            <input type="text" ngModel class="form-control"  name="tituloEstudio" placeholder="Titulo" required/>
          </div>
          <div class="mb-3">
            <label for="institucionEstudio" class="col-form-label">Institucion:</label>
            <input type="text" ngModel class="form-control"   name="institucionEstudio" placeholder="Institucion" required/>
          </div>
          <div class="mb-3">
            <label for="fechaInicio" class="col-form-label">Fecha Inicio:</label>
            <input type="date" min="1990-01-01" max="2030-12-31" ngModel class="form-control"  name="fechaInicio" placeholder="Fecha Inicio" required/>
          </div>
          <div class="mb-3">
            <label for="fechaFin" class="col-form-label">Fecha Fin:</label>
            <input type="date" min="1990-01-01" max="2030-12-31" ngModel class="form-control"  name="fechaFin" required/>
          </div>

        <div class="modal-footer">
          <button [disabled]="addForm.invalid"  type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar Educacion</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------ Fin Modal ---------------------------------------------->

<!------------------------------------------------ Modal Update Educacion ---------------------------------------------->
<div class="modal fade" id="updateEducacionModal" tabindex="-1" aria-labelledby="updateEducacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEducacionModalLabel">Editar Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
          <div class="mb-3">
            <label for="idEducacion" class="col-form-label">ID:</label>
            <input type="text" ngModel="{{updateEducaciones?.idEducacion}}" class="form-control"  name="idEducacion" placeholder="idEducacion" readonly/>
          </div>
          <div class="mb-3">
            <label for="tituloEstudio" class="col-form-label">Titulo:</label>
            <input type="text" ngModel="{{updateEducaciones?.tituloEstudio}}" class="form-control"  name="tituloEstudio" placeholder="Titulo"/>
          </div>
          <div class="mb-3">
            <label for="institucionEstudio" class="col-form-label">Institucion:</label>
            <input type="text" ngModel="{{updateEducaciones?.institucionEstudio}}" class="form-control"   name="institucionEstudio" placeholder="Institucion"/>
          </div>
          <div class="mb-3">
            <label for="fechaInicio" class="col-form-label">Fecha Inicio:</label>
            <input type="date" min="1990-01-01" max="2030-12-31" ngModel="{{updateEducaciones?.fechaInicio}}" class="form-control"  name="fechaInicio" placeholder="Fecha Inicio"/>
          </div>
          <div class="mb-3">
            <label for="fechaFin" class="col-form-label">Fecha Fin:</label>
            <input type="date" min="1990-01-01" max="2030-12-31" ngModel="{{updateEducaciones?.fechaFin}}" class="form-control"  name="fechaFin"/>
          </div>
          <div class="modal-footer">
            <button (click)="onUpdateEducacion(updateForm.value)"  class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------ Fin Modal ---------------------------------------------->

<!-------------------------------------------- Modal Delete Educacion --------------------------------->
<div class="modal fade" id="deleteEducacionModal" tabindex="-1" aria-labelledby="deleteEducacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEducacionModalLabel">Eliminar Educacion "{{ deleteEducaciones?.tituloEstudio }}"</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="color: rgb(235, 0, 0)">Estás seguro que quieres borrar "{{ deleteEducaciones?.tituloEstudio }}"?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No. Dejame revisar</button>
          <button (click)="onDeleteEducacion(deleteEducaciones!.idEducacion)" class="btn btn-primary" data-bs-dismiss="modal">Si. Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------ Fin Modal ---------------------------------------------->

<!---------------------------------- Notifificacion si no existen educaciones ----------------------------->
<div *ngIf="educaciones?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No hay educacion!</h4>
    <p>No se encontró ninguna educacion</p>
  </div>
</div>
