.contenedorPrincipal{
  margin: 20px 0;;
}
.contenedorTitulo {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}
.contenedorTitulo h1, .contenedorTitulo h3{
  margin: 10px 5px;
}

.contenedorTarjeta{
  margin: 20px;
  border: 2px solid red;
  border-radius: 10px;
}
.contenedorTitulo button{
  margin: 0px 10px;
}
a{
  margin: 5px;
}
.text{
  padding: 0;
  margin: 5px 0;
}
#descripcionTarjeta{
  margin: 5px 20px;
}
