<img id="banner" class="d-block" src="./assets/images/banner.jpg" alt="Lucas Tecera FullStack Web Developer"/>
<div class="card mx-1">
  <div class="row g-0">
    <div class="col-md-2 align-content-center">
      <img src="./assets/images/profilePic.jpg" class="rounded-circle d-block" alt="Foto de Perfil" id="profilePic">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">Lucas Tecera</h5>
        <p class="card-text">Junior FullStack Web Developer</p>
        <p class="card-text">Rio Segundo, Pvcia de Cordoba, Argentina</p>
      </div>
    </div>
  </div>
</div>
