#banner {
  padding: 0;
  margin: 0  auto;
  max-width: 100%;
  height: auto;
}
#infoCard{
  margin: 10px 5px;
}
#cardBody {
  padding-top: 0px;
}
#profilePic{
  display:block;
  width: 100%;
  height: auto;
  max-width: 120px;
  margin: 10px;
}
#profecion {
  margin-bottom:8px;
}

