<img id="banner" class="d-block" src="./assets/images/banner.jpg" alt="Lucas Tecera FullStack Web Developer"/>


  <div class="card flex-column" id="infoCard">
    <img src="./assets/images/profilePic.jpg" class="rounded-circle d-block" alt="Foto de Perfil" id="profilePic"/>
    <div class="col-md-10">
      <div class="card-body" id="cardBody">
        <h5 class="card-title">Lucas Tecera</h5>
        <p class="card-text" id="profecion">Junior FullStack Web Developer</p>
        <p class="card-text" id="ubicacion">Rio Segundo, Pvcia de Cordoba, Argentina</p>
      </div>
    </div>
  </div>
